* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prime:#28E1B9;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.promokod {
    background-color: #ccc;
    padding-top: 100px;
}

.container {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}

.post {
    background-color: #000;
    border-radius: 20px;
    padding: 23px;
}

.post__tag {
    background-color: var(--prime);
    padding: 4px 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.post__heading {
    width: 207px;
    padding-top: 10px;
    font-size: 24px;
    color: #fff;
}

.post__btn {
    margin-top: 20px;
    color: #000;
    border: none;
    font-size: 16px;
    width: 203px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.post__btn__img {
    padding-left: 10px;
    text-align: center;
}

.post__img {
    position: absolute;
    top: 50px;
    padding-left: 24px;
    height: 240px;
}


.sharing {
    background-color: #ccc;
}

.carsharing {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    background-color: #FAFAFA;
    padding: 33px;
    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    background-position: top 15px center;
}

.carsharing-box {
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px #00BE9C1A;
}

.carsharing__title {
    padding-left: 17px;
}

.carsharing__img {
    padding-left: 14px;
    padding-top: 24px;
    padding-bottom: 23px;
}

.carsharing__text {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
}

mark {
    background-color: var(--prime);
    padding: 2px 5px;
    color: #000000;
}

.carsharing__heading {
    padding-top: 7px;
    font-weight: 600;
    font-size: 18px;
}

.carsharing__btn {
    background-color: var(--prime);
    margin-top: 13px;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 13px;
}

.carsharing__textitle {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #0000001A;
}

.carsharing__textitle span {
    color: var(--prime);
}